/* *{
border: 1px solid red;
} */

/* SEARCH INPUT */
nav .search {
  display: flex;
}
nav .search div {
  display: flex;
  margin-left: auto;
}

nav .search input {
  text-indent: 1em;
  line-height: 2.4em;
  border-radius: 5px;
  font-size: 18px;

  margin-left: auto;
}

.search-list {
  display: block;
  position: absolute;
  top: 4.5em;
  z-index: 1;

  border: 1px rgba(91, 91, 91, 0.296) solid;
  background-color: white;
  width: 13em;
  border-radius: 4px;
}

.search-list ul {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 100%;
}
.search-list li {
  padding: 0.4em 1.25em;
  margin: 0;
  border: 1px rgba(91, 91, 91, 0.296) solid;
}

.search-list a {
  text-decoration: none;
  color: rgb(44, 142, 212);
}

@media (max-width: 720px) {
  .search {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    justify-content: start;
  }

  .search input {
    width: 90%;
    margin: 0 auto 0 0 !important;
    padding: 0;
  }

  .search-list{
    top: 8em;
  }
}
